<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
    <script async src="https://cse.google.com/cse.js?cx=f3e2e84e3a8bf4b3d">
    </script>
    <div class="gcse-search"></div>
</head>
<body>
    <header>
        <h1>道言学堂</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/_posts/2025-04-18-roman-study-guide.md">Study Guide</a>
            <!-- Add Search Link -->
            <a href="/search.md" class="mr-4">Search</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>© 2025 道言学堂. All rights reserved.</p>
    </footer>
</body>
</html>
